@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&display=swap');

* {
    margin: 0;
    padding: 0;
    line-height: 1.2;
    font-family: "Fira Code", monospace;
    color: #fff;
}

body {
    background-color: #0e0e0e;
    justify-content: center;
}

form {
    background-color: transparent;
}